.bordereau_gauche{
  height: 100%;
  width: 15%;
  background: black;
  opacity: 0.80;
  position: fixed;
  right: 85%;
}

.bordereau_bas{
  height: 15%;
  width: 100%;
  background: black;
  opacity: 0.80;
  position: fixed;
  top: 85%;
}

body{
  margin: 0;
}
